<!--=========================*
            Footer
*===========================-->
<footer id="rt_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_logo text-left">
                    <a href="<?php echo $home; ?>">
                        <?php if($logo_colour) : ?>
                        <img src="image/template/logo-color.png" alt="<?php echo $name; ?>">
                        <?php else : ?>
                        <?php echo $name; ?>
                        <?php endif; ?>
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-left">
                <div class="footer_address">
                    <p><?php echo $address; ?></p>
                    <a href="tel:<?php echo $telephone; ?>"><?php echo $telephone; ?></a>
                    <span>
                        <a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social_icons mb-110 mb-xs-60">
                    <a href="https://www.facebook.com/popaya.in/" title="Facebook" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                    <a href="https://www.twitter.com/popayain/" title="Twitter" target="_blank"><i
                            class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/popayain/" title="Instagram" target="_blank"><i
                            class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/popaya/" title="LinkedIn" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="copyright text-left">
                    <p><?php echo $text_powered; ?></p>
                    <p><?php echo $text_reserved; ?></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--=========================*
           End Footer
*===========================-->

<a href="<?php echo $crawler; ?>" hidden>Web Crawlers</a>

<!--=========================*
            Scripts
*===========================-->

<!-- Jquery Js -->
<script src="template/view/dist/js/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="template/view/dist/js/bootstrap.min.js"></script>
<!-- Paralex Js -->
<script src="template/view/dist/js/jquery.parallax-1.1.3.js"></script>
<!-- Fancy Box Js -->
<script src="template/view/dist/js/jquery.fancybox.pack.js"></script>
<!-- WOW Js -->
<script src="template/view/dist/js/wow.min.js"></script>
<!-- YT Player Js -->
<script src="template/view/dist/js/jquery.mb.YTPlayer.js"></script>
<!-- Masonary Grid -->
<script src="template/view/dist/js/masonry.pkgd.min.js"></script>
<!-- Navigation scroll Js -->
<script src="template/view/dist/js/jquery.nav.js"></script>
<!-- Owl Carousel Js -->
<script src="template/view/dist/js/owl.carousel.min.js"></script>
<!-- Easing Js -->
<script src="template/view/dist/js/jquery.easing.min.js"></script>
<!-- Fancy Box Js -->
<script src="template/view/dist/js/jquery.fancybox.pack.js"></script>
<!-- Appear Js -->
<script src="template/view/dist/js/jquery.appear.js"></script>
<!-- Count Js -->
<script src="template/view/dist/js/jquery.countTo.js"></script>
<!-- Toastr Js -->
<script src="template/view/dist/js/toastr.min.js"></script>
<!-- Main Js -->
<script src="template/view/dist/js/main.js"></script>

</body>

</html>