<?php echo $header; ?>
<?php echo $nav; ?>
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <div class="banner-img-08 banner-img-size"></div>
            <div class="page-breadcum" id="content">
                <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                <?php if($i != (count($breadcrumbs) - 1)) : ?>
                <?php if($i == 0) : ?>
                <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                <?php else : ?>
                <i class="fa fa-chevron-right"></i>
                <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                <?php endif; ?>
                <?php else : ?>
                <i class="fa fa-chevron-right"></i>
                <?php echo $breadcrumbs[$i]['text']; ?>
                <?php endif; ?>
                <?php endfor; ?>
            </div>
            <div class="about-desc-section">
                <div class="about-desc-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 mt-20">
                                <div class="club-login-details">
                                    <div class="page-title">Club Details</div>
                                    <p class="seprate-p"><b>Rotary Club of
                                            <?php echo $club_name; ?></b></p>
                                    <p class="combine-p"><span><i class="fa fa-calendar-o"></i>
                                            <?php echo $date; ?></span><span class="pull-right"><i
                                                class="fa fa-trophy"></i> 250</span></p>
                                    <p class="combine-p"><span><i class="fa fa-mobile"></i> <a
                                                href="tel:<?php echo $mobile; ?>">
                                                <?php echo $mobile; ?></a></span></p>
                                    <p class="combine-p"><span><i class="fa fa-envelope-o"></i><a
                                                href="mailto:<?php echo $email; ?>">
                                                <?php echo $email; ?></a></span>
                                    </p>
                                    <hr class="featurette-divider">
                                    <p class="seprate-p"><b>President</b> - <?php echo $president; ?></p>
                                    <p class="seprate-p"><b>Ass. Governor</b> - <?php echo $assistant_governor; ?></p>
                                    <p class="seprate-p"><b>Dist. Secretary</b> - <?php echo $district_secretary; ?></p>
                                </div>
                                <div id="mobile-menu">
                                    <a href="javascript:;" class="bars"><i class="fa fa-bars mobile-bars"></i></a>
                                    <div class="mobile-drop">
                                        <ul id="page-menu">
                                            <li>
                                                <a href="<?php echo $dashbaord; ?>"
                                                    class="active-menu"><?php echo $text_dashboard; ?></a>
                                            </li>
                                            <li><a href="<?php echo $member; ?>"><?php echo $text_member; ?></a></li>
                                            <li><a href="<?php echo $trf; ?>"><?php echo $text_trf; ?></a></li>
                                            <li><a href="<?php echo $project; ?>"><?php echo $text_project; ?></a></li>
                                            <li><a href="<?php echo $profile; ?>"><?php echo $text_profile; ?></a></li>
                                            <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="desktop-drop">
                                    <ul id="page-menu">
                                        <li>
                                            <a href="<?php echo $dashbaord; ?>"><?php echo $text_dashboard; ?></a>
                                        </li>
                                        <li><a href="<?php echo $member; ?>"
                                                class="active-menu"><?php echo $text_member; ?></a></li>
                                        <li><a href="<?php echo $trf; ?>"><?php echo $text_trf; ?></a></li>
                                        <li><a href="<?php echo $project; ?>"><?php echo $text_project; ?></a></li>
                                        <li><a href="<?php echo $profile; ?>"><?php echo $text_profile; ?></a></li>
                                        <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9 mt-20">
                                <div class="about-page-content">
                                    <div class="page-title">
                                        Members List
                                    </div>
                                    <div class="club-page-content">
                                        <div class="form-title">
                                            <a href="<?php echo $add_member; ?>" data-toggle="tooltip" title=""
                                                class="btn btn-login btn-sm btn-bold"
                                                data-original-title="Add New Members"><i class="fa fa-plus"></i></a>
                                        </div>
                                        <div class="table-design-row">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Sr</th>
                                                        <th>Month</th>
                                                        <th>Members Inducted </th>
                                                        <th>Members Unlisted </th>
                                                        <th>Net Growth </th>
                                                        <th>Points</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php $n=1; ?>
                                                    <?php foreach($members as $member): ?>
                                                    <tr>
                                                        <td><?php echo $n++; ?></td>
                                                        <td><?php echo $member['date']; ?></td>
                                                        <td><?php echo $member['induction']; ?></td>
                                                        <td><?php echo $member['unlist']; ?></td>
                                                        <td><?php echo $member['net']; ?></td>
                                                        <td><?php echo $member['points']; ?></td>
                                                        <td><a href="<?php echo $member['view']; ?>"
                                                                data-toggle="tooltip" title="View Members"
                                                                class=" btn btn-login btn-xs btn-bold"
                                                                data-original-title="View Members"><i
                                                                    class="fa fa-eye"></i></a></td>
                                                    </tr>
                                                    <?php endforeach; ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php echo $footer; ?>