<?php echo $header; ?>
<?php echo $nav; ?>
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <div class="banner-img-08 banner-img-size"></div>
            <div class="page-breadcum" id="content">
                <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                <?php if($i != (count($breadcrumbs) - 1)) : ?>
                <?php if($i == 0) : ?>
                <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                <?php else : ?>
                <i class="fa fa-chevron-right"></i>
                <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                <?php endif; ?>
                <?php else : ?>
                <i class="fa fa-chevron-right"></i>
                <?php echo $breadcrumbs[$i]['text']; ?>
                <?php endif; ?>
                <?php endfor; ?>
            </div>
            <div class="about-desc-section">
                <div class="about-desc-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 mt-20">
                                <div class="club-login-details">
                                    <div class="page-title">Club Details</div>
                                    <p class="seprate-p"><b>Rotary Club of
                                            <?php echo $club_name; ?></b></p>
                                    <p class="combine-p"><span><i class="fa fa-calendar-o"></i>
                                            <?php echo $date; ?></span><span class="pull-right"><i
                                                class="fa fa-trophy"></i> 250</span></p>
                                    <p class="combine-p"><span><i class="fa fa-mobile"></i> <a
                                                href="tel:<?php echo $mobile; ?>">
                                                <?php echo $mobile; ?></a></span></p>
                                    <p class="combine-p"><span><i class="fa fa-envelope-o"></i><a
                                                href="mailto:<?php echo $email; ?>">
                                                <?php echo $email; ?></a></span>
                                    </p>
                                    <hr class="featurette-divider">
                                    <p class="seprate-p"><b>President</b> - <?php echo $president; ?></p>
                                    <p class="seprate-p"><b>Ass. Governor</b> - <?php echo $assistant_governor; ?></p>
                                    <p class="seprate-p"><b>Dist. Secretary</b> - <?php echo $district_secretary; ?></p>
                                </div>
                                <div id="mobile-menu">
                                    <a href="javascript:;" class="bars"><i class="fa fa-bars mobile-bars"></i></a>
                                    <div class="mobile-drop">
                                        <ul id="page-menu">
                                            <li>
                                                <a href="<?php echo $dashbaord; ?>"><?php echo $text_dashboard; ?></a>
                                            </li>
                                            <li><a href="<?php echo $member; ?>"><?php echo $text_member; ?></a></li>
                                            <li><a href="<?php echo $trf; ?>"
                                                    class="active-menu"><?php echo $text_trf; ?></a></li>
                                            <li><a href="<?php echo $project; ?>"><?php echo $text_project; ?></a></li>
                                            <li><a href="<?php echo $profile; ?>"><?php echo $text_profile; ?></a></li>
                                            <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="desktop-drop">
                                    <ul id="page-menu">
                                        <li>
                                            <a href="<?php echo $dashbaord; ?>"><?php echo $text_dashboard; ?></a>
                                        </li>
                                        <li><a href="<?php echo $member; ?>"><?php echo $text_member; ?></a></li>
                                        <li><a href="<?php echo $trf; ?>"
                                                class="active-menu"><?php echo $text_trf; ?></a></li>
                                        <li><a href="<?php echo $project; ?>"><?php echo $text_project; ?></a></li>
                                        <li><a href="<?php echo $profile; ?>"><?php echo $text_profile; ?></a></li>
                                        <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9 mt-20">
                                <div class="about-page-content">
                                    <div class="page-title">
                                        Add TRF Contribution
                                    </div>
                                    <div class="club-page-content">
                                        <form action="<?php echo $action; ?>" method="post"
                                            enctype="multipart/form-data">
                                            <div class="form-group row">
                                                <label for="month" class="col-sm-3 col-form-label">Month :</label>
                                                <div class="col-sm-4">
                                                    <select name="month" id="month" class="form-control">
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                    </select>
                                                </div>
                                                <label for="year" class="col-sm-1 col-form-label">Year :</label>
                                                <div class="col-sm-4">
                                                    <select name="year" id="year" class="form-control">
                                                        <option value="2019">2019</option>
                                                        <option value="2018">2018</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr class="featurette-divider">

                                            <input type="hidden" name="club_id" id="club_id"
                                                value="<?php echo $club_id; ?>">
                                            <hr class="featurette-divider">
                                            <div class="form-group row">
                                                <!-- <label for="" class="col-sm-6 pull-left">
                                                    Total Projects : <?php echo round(implode(" ",$total_project)); ?>
                                                </label> -->
                                                <button type="submit" class="btn btn-sav mb-2">Save</button>
                                            </div>
                                            <hr class="featurette-divider">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php echo $footer; ?>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script>
                $(function () {

                    $("#amount_inr, #exchange_rate").on("keydown keyup", sum);

                    function sum() {
                        $("#amount_usd").val(Number($("#amount_inr").val()) / Number($("#exchange_rate").val()));
                    }
                });
            </script>